body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #f8f9fa;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #007bff; /* Cor azul */
    color: #fff;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #0056b3; /* Cor azul mais escura */
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #ced4da; /* Cor cinza */
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color: #fff;
}

#sidebar ul li a:hover {
    color: #7386d5;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #0056b3; /* Cor azul mais escura */
}

#sidebar ul ul {
    padding: 0;
}

#sidebar ul ul a {
    font-size: 0.9em;
    padding-left: 30px;
}

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

.card {
    margin-bottom: 20px;
}